@charset "utf-8";
/* CSS Document */
body{
    background-color: #f6f5f5;
    margin:0px;
    padding:0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width:100%;
    height: 95vh;
    
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    height: 60px;
    align-items:center;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%;

}
nav ul{
    display:flex;
}
nav ul li a{
    margin:30px;
    font-family: myriad pro regular;
    color:#505050;
    font-size:16px;
    font-weight: 700;
    font-weight: bold;
    
}
.text-container{
    font-family:Calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;

}
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight:bold;
    letter-spacing: 1px;
    color:#1a1a1a;
    font-size:60px;
}
.text-container p:nth-child(3){
    font-family:myriad pro regular;
    color:#403e3e;
    font-size:30px;
    line-height:30px;
}
.text-container p{
    line-height:0px;
    margin:45px 0px 25px;
}
.text-container{
    position: absolute;
    left:13%;
    top:42%;
    transform:translate(-13%,-42%);

}
.model{
    position: absolute;
    top:10%;
    left:83%;
    border-style: groove;

    border-radius: 15px;
    transform: translateX(-75%);
}
.about-container{
    width: 80%;
    height:330px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin:20px auto 20px 9%;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.about-container img{
    height: 300px;
    width:250px;
    border-radius: 5px;
    border-left-color:black;
    border-left-width: 13px;
    
    border-style:double;

  
}
.about-text{
    width:550px;
}
.about-text p:nth-child(1){
    color:#403e3e;
    font-family:myriad pro;
    font-weight: bold;
    font-size: 35px;
    line-height: 0px;
}
.about-text p:nth-child(2){
    color:#3e3d3d;
    font-family:myriad pro;
    font-weight: bold;
    font-size: 20px;
    line-height: 5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4),
.about-text p:nth-child(5)
{
    color:#4f5d8c;
    font-family:calibri;
    font-size: 17.5px;
}

.text{
    font-size:30px;
    font-weight: bold;
}
.skill{
    width: 80%;
    height:500px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    margin: auto auto 20px 9%;
}
.accomplishment{
    width: 80%;
    height:600px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    flex-direction:column;
    margin:auto auto 20px 9%;
}
.box_co{
    width: 90%;
    height:450px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction:row;
    margin: 2px auto 3px 4%;
}
.accb{
    background-color:rgba(245,235,220,0.6);
    color:rgba(240,75,40,0.8);
    margin:10px auto 10px 25px;
    width:80%;
    height:100%;
}
.accb h1{
    text-align: center;
}
.accb ol{
    list-style: none;
}
.accb ol li{
    margin:15px;
    text-align:justify;
    font-size: 18px;
    font-weight:800;
    list-style-type: disc;
    font-family: calibri;
}
.my_skill{
    font-size:40px;
    font-weight: bold;
    margin:4px auto 20px 40%;
    color:#403e3e;
    font-family:myriad pro;
}
.box{
    width:80%;
    height:55px;
    background-color:#3e3d3d;
    border-radius: 10px;
    margin:5px auto 20px 10%;
}
.t{
    background-color:cornsilk;
    color:rgba(240,75,40,0.8);
    width:90%;
    font-family:calibri;
    font-size: 25px;
    text-align: center;

}
.t1{
    background-color:cornsilk;
    color:rgba(240,75,40,0.8);
    width:80%;
    font-family:calibri;
    font-size: 25px;
    text-align: center;

}
.t2{
    background-color:cornsilk;
    color:rgba(240,75,40,0.8);
    width:70%;
    font-family:calibri;
    font-size: 25px;
    text-align: center;

}
.t3{
    background-color:cornsilk;
    color:rgba(240,75,40,0.8);
    width:60%;
    font-family:calibri;
    font-size: 25px;
    text-align: center;

}
.t4{
    background-color:cornsilk;
    color:rgba(240,75,40,0.8);
    width:50%;
    font-family:calibri;
    font-size: 25px;
    text-align: center;

}
.contact-me{
    width: 80%;
    height:330px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    margin: auto auto auto 9%;
}
.contac-me{

    width: 100%;
    height:300px;
    background-color:#3e3d3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-me p{
    color:#4f5d8c;
    font-family:calibri;
    font-size: 22px;
    margin-left:38%;
    margin-top:2px;    
}
.contact-me button{
    width:200px;
    height:40px;
    background-color: #FFFFFF;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
}
footer{
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}
footer p{
    font-family: calibri;
}
footer p:nth-child(1){
    font-size: 30px;
    font-weight:bold;
    columns: #191919;
    line-height: 10px;

}
.social-icons{
    display:flex;
}
.social-icons a{
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6e3e3;
    margin:20px 10px;
    border-radius: 50%;

}
.social-icons i{
    color:#000000;
}
.social-icons a:hover{
    background-color:#000000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;

}
.social-icons a:hover i{
    background-color:#FFFFFF;
    
    transition: all ease 0.5s;

}
.social-b{
    right:0px;
    top:50%;
    transform:translateX(-50%);
    position:fixed;
}

.copyright{
    color: #565555;
    font-size:13px;
    position:absolute;
    left:50%;
    bottom:10px;
    transform: translateX(-50%);
}

h2{
    font-size:40px;
    font-weight: bold;
    margin:4px auto 20px 40%;
    color:#403e3e;
    font-family:myriad pro;
}